<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LoanManagement" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=LoanManagementSystem;Data Source=SIK-PC"/>
    <add key="ImageFolder" value="E:\DreamIT\Projects\ASMA\Photos"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
